.search-container{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 8%;
    flex: 1;
    background-color: #f9f9f9;
}
.search-container >img{
    height: 60px;
    margin-right: 20px;
}
.search-container >input{
    width: 700px;
    height: 50px;
}
.search-container > button{
    height: 55px;
    width: 20%;
}